<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
<h1 align="center">Site Reviews</h1>
<div align="center" th:if="${page.getObjects.isEmpty()}">
    <h2>There are no reviews here yet</h2>
</div>
<div align="center" th:unless="${page.getObjects.isEmpty()}">
    <form action=#
          th:action="@{/admin/reviews/change-visibility/{sourcePageNumber}(sourcePageNumber=${page.pageNumber})}"
          method="post" id="changing_form"></form>
    <table border="1">
        <thead>
        <tr>
            <th width="15%">Author</th>
            <th width="60%">Content</th>
            <th width="13%">Addition date</th>
            <th width="5%">Visible or not</th>
            </th>
            <th width="7">Delete review</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review: ${page.getObjects}">
            <td th:text="${review.fullName}">
                User
            </td>
            <td>
                <pre th:text="${review.content}">Review content</pre>
            </td>
            <td align="center" th:text="${review.additionDate}">Addition date</td>
            <td align="center">
                <span style="font-style: italic" th:if="${review.isVisible}"> visible</span>
                <span style="font-style: italic" th:unless="${review.isVisible}"> invisible</span>
                <div>
                    <input type="checkbox" name="checkedUuids" th:value="${review.uuid}"
                           th:checked="${review.isVisible}" form="changing_form"/>
                    <div th:if="${review.isVisible}">
                        <input type="hidden" name="previouslyCheckedUuids" th:value="${review.uuid}"
                               form="changing_form"/>
                    </div>
                </div>
            </td>
            <td align="center">
                <form action=#
                      th:action="@{/admin/reviews/del/{uuid}/{sourcePageNumber}(uuid = ${review.uuid}, sourcePageNumber=${page.pageNumber})}"
                      method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        <input type="submit" value="Save the Changes" form="changing_form"/>
    </p>
</div>
</body>
<footer>
    <div align="center" th:if="${page.countOfPages > 1}">
        <span th:each="i : ${#numbers.sequence(1,page.countOfPages)}">
            <span th:unless="${page.pageNumber == i}">
            <a th:href="@{'/admin/reviews?pageNumber=' + ${i}}" th:text="'|' + ${i} + '|'"></a>
            </span>
            <span th:if="${page.pageNumber == i}" th:text="${i}"></span>
        </span>
    </div>
    <h3 align="center" class="text-center"><a th:href="@{/main}">Go back to the main page</a></h3>
</footer>
</html>