<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<header th:include="fragments/header::header"></header>
<div class="container text-center">
    <h1 style="margin-top: 2%">Reviews</h1>
    <div style="margin-top: 3%" th:if="${page.getObjects.isEmpty()}">
        <h2>There are no reviews here yet</h2>
    </div>
    <div style="margin-top: 3%" th:unless="${page.getObjects.isEmpty()}">
        <form action=#
              th:action="@{/admin/reviews/change-visibility/{sourcePageNumber}(sourcePageNumber=${page.pageNumber})}"
              method="post" id="changing_form"></form>
        <table class="table table-bordered table-striped " style="table-layout: fixed">
            <tbody>
            <tr th:each="review: ${page.getObjects}">
                <td align="justify">
                <pre style="white-space:pre-wrap; word-break: break-word"
                     th:text="${review.content}">Review content</pre>
                    <span th:text="${review.fullName}">Author</span>
                    <span th:if="${review.isAuthorDeleted}"><i style="color: red"> (deleted)</i></span><br>
                    <i th:text="${review.getAdditionDateTime}">Addition date</i>
                </td>
                <td width="10%" align="center">
                    <span style="font-style: italic" th:if="${review.isVisible}"> visible</span>
                    <span style="font-style: italic" th:unless="${review.isVisible}"> invisible</span>
                    <div>
                        <input type="checkbox" name="checkedUuids" th:value="${review.uuid}"
                               th:checked="${review.isVisible}" form="changing_form"/>
                        <div th:if="${review.isVisible}">
                            <input type="hidden" name="previouslyCheckedUuids" th:value="${review.uuid}"
                                   form="changing_form"/>
                        </div>
                    </div>
                </td>
                <td width="10%" align="center">
                    <form action=#
                          th:action="@{/admin/reviews/delete/{uuid}/{sourcePageNumber}(uuid = ${review.uuid}, sourcePageNumber=${page.pageNumber})}"
                          method="post">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <input class="btn btn-primary" type="submit" value="Change" form="changing_form"/>
        </p>
    </div>
</div>
<footer>
    <div align="center" th:if="${page.countOfPages > 1}">
        <span th:each="i : ${#numbers.sequence(1,page.countOfPages)}">
            <span th:unless="${page.pageNumber == i}">
            <a th:href="@{'/admin/reviews?pageNumber=' + ${i}}" th:text="'|' + ${i} + '|'"></a>
            </span>
            <span th:if="${page.pageNumber == i}" th:text="${i}"></span>
        </span>
    </div>
</footer>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>