<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
<h1 align="center">News</h1>
<div align="center" th:if="${page.objects.isEmpty()}">
    <h2>There is no news here yet</h2>
</div>
<div align="center" th:unless="${page.objects.isEmpty()}">
    <table border="1">
        <tbody>
        <tr th:each="article : ${page.objects}">
            <td width="50%">
                <p th:text="${article.additionDate}">Addition date</p>
                <p th:text="${article.title}">Title</p>
                <p th:text="${article.userFirstName + ' ' + article.userLastName}">Author</p>
                <p>
                <pre style="white-space: pre-wrap" th:text="${article.synopsis}">Synopsis</pre>
                </p>
                <p align="right">
                    <a th:href="@{/articles/{uuid}(uuid=${article.uuid})}">More detailed...</a>
                </p>
            </td>
            <td width="10%" align="center" th:if="${role.equals('SALE_USER')}">
                <form action=#
                      th:action="@{/seller/articles/del/{uuid}/{sourcePageNumber}(uuid = ${article.uuid}, sourcePageNumber=${page.pageNumber})}"
                      method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer>
    <div align="center" th:if="${page.countOfPages > 1}">
        <span th:each="i : ${#numbers.sequence(1,page.countOfPages)}">
            <span th:unless="${page.pageNumber == i}">
            <a th:href="@{'/articles?pageNumber=' + ${i}}" th:text="'|' + ${i} + '|'"></a>
            </span>
            <span th:if="${page.pageNumber == i}" th:text="${i}"></span>
        </span>
    </div>
    <div align="center">
        <h3 th:if="${role.equals('SALE_USER')}"><a th:href="@{/seller/articles/add}">Publish a new article</a></h3>
        <h3 class="text-center"><a th:href="@{/main}">Go back to the main page</a></h3>
    </div>
</footer>
</body>
</html>