<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}">Title</title>
</head>
<body>
<div align="center">
    <table width="80%" border="1">
        <tbody>
        <tr>
            <td>
                <p th:text="${article.additionDate}">Date</p>
                <p th:text="${article.title}">Article title</p>
                <p>
                <pre style="white-space: pre-wrap" th:text="${article.content}">Content</pre>
                </p>
                <p th:text="${article.userFirstName + ' ' + article.userLastName}">Author</p>
            </td>
        </tr>
        </tbody>
    </table>
    <h3><a th:href="@{/articles}">Go back to the page of the news</a></h3>
    <table th:unless="${article.comments.isEmpty()}">
        <thead>
        <tr>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${article.comments}">
            <td>
                <p th:text="${comment.userFirstName + ' ' + comment.userLastName}">Author</p>
                <p th:text="${comment.additionDate}">Date</p>
                <p th:text="${comment.content}">Content</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>