<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.name}">Item</title>
</head>
<body>
<div align="center">
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Unique number</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="15%" th:text="${item.name}">Name</td>
            <td width="10%" th:text="${item.uniqueNumber}">Number</td>
            <td width="10%" th:text="'$' + ${item.price}">Price</td>
            <td width="30%">
                <pre th:text="${item.description}">Description</pre>
            </td>
        </tr>
        </tbody>
    </table>
    <h3><a th:href="@{'/items?pageNumber=' + ${page}}">Go back to the list of items</a></h3>
</div>
</body>
</html>