<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div align="center">
    <h1 sec:authorize="isAnonymous()"><a th:href="@{/login}">Log in</a></h1>
    <div sec:authorize="isAuthenticated()">
        | Logged user: <span sec:authentication="name"></span>
        | Role:<span sec:authentication="principal.authorities[0]"></span>
        <a th:href="@{/logout}"> | Sign out</a>
        <div>
            <h2 th:if="${role.equals('ADMIN')}">
                <a th:href="@{/users}">Go to the list of the users</a><br>
                <a th:href="@{/reviews/admin}">Go to the admin list of the reviews</a>
            </h2>
            <h2 th:if="${role.equals('CUSTOMER_USER')}">
                <a th:href="@{/articles}">Go to the list of the articles</a><br>
                <a th:href="@{/customer/profile}">Go to the profile</a>
            </h2>
        </div>
    </div>
    <h2>
        <a th:href="@{/reviews}">Read reviews about this site</a>
    </h2>
</div>
</body>
</html>