<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div align="center">
    <h1 sec:authorize="isAnonymous()"><a th:href="@{/login}">Log in</a></h1>
    <div sec:authorize="isAuthenticated()">
        <div style="font-size: large">
        Logged user: <span style="color: blue"><b sec:authentication="name"></b></span>
        | Role: <span style="color: blue"><b th:text="${role.description}"></b></span><br>
        <a th:href="@{/logout}">Sign out</a>
        </div>
        <div>
            <h2 th:if="${role.name()} == 'ADMIN'">
                <a th:href="@{/admin/users}">Go to the list of users</a><br>
                <a th:href="@{/admin/reviews}">Go to the admin list of reviews</a>
            </h2>
            <h2 th:if="${role.name()} == 'CUSTOMER_USER'  or ${role.name()} == 'SALE_USER'">
                <a th:href="@{/articles}">Go to the the news page</a><br>
                <a th:href="@{/items}">Go to the page of items</a><br>
            </h2>
            <h2 th:if="${role.name()} == 'CUSTOMER_USER'">
                <a th:href="@{/customer/profile}">Go to the profile</a><br>
                <a th:href="@{/customer/reviews/add}">Leave a review about the site</a>
            </h2>
        </div>
    </div>
    <h2>
        <a th:href="@{/reviews}">Read reviews about this site</a>
    </h2>
</div>
</body>
</html>