<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Order # ' + ${order.orderNumber}">Order</title>
</head>
<body>
<div align="center">
    <h1 th:text="'Order # ' + ${order.orderNumber}"></h1>
    <form action="#" th:action="@{/seller/orders/{orderUuid}/change(orderUuid = ${order.uuid})}" method="post">
        <table border="1">
            <thead>
            <tr>
                <th>
                    <span th:text="'Order number: ' + ${order.orderNumber} +
                            ' | Date: ' + ${order.orderDateTime} +
                            ' | Status: ' + ${order.status.description}">
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <table align="center" border="1">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="orderDetail : ${order.orderDetails}">
                            <td>
                                <a th:href="@{/items/{uuid}/1(uuid = ${orderDetail.itemUuid})}"
                                   th:text="${orderDetail.itemName}">Item name</a>
                            </td>
                            <td th:text="'$' + ${orderDetail.price}">Price</td>
                            <td align="center" th:text="${orderDetail.quantity}">Quantity</td>
                            <td th:text="'$' + ${orderDetail.amount}">Amount</td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:unless="${order.status.name()} == 'REJECTED' or ${order.status.name()} == 'DELIVERED'"
                         align="center">
                        <span>
                            <select name="newStatus">
                                <option th:disabled="${order.status.name() == 'IN_PROGRESS'}" value="IN_PROGRESS">In progress</option>
                                <option value="DELIVERED">Delivered</option>
                                <option value="REJECTED">Rejected</option>
                            </select>
                        </span>
                        <input type="submit" value="Change status"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 align="center">Customer Info</h3>
                    <p><span><b>Full name:</b></span> <span th:text="${order.customerFullName}">User name</span></p>
                    <p>
                        <span><b>Address:</b></span>
                        <span th:unless="${order.customerAddress == null or order.customerAddress.isEmpty()}"
                              th:text="${order.customerAddress}">Address</span>
                        <span th:if="${order.customerAddress == null or order.customerAddress.isEmpty()}"><i>&lt;not specified&gt;</i></span>
                    </p>
                    <p>
                        <span><b>Phone number:</b></span>
                        <span th:unless="${order.customerPhoneNumber == null or order.customerPhoneNumber.isEmpty()}"
                              th:text="${order.customerPhoneNumber}">Phone number</span>
                        <span th:if="${order.customerPhoneNumber == null or order.customerPhoneNumber.isEmpty()}"><i>&lt;not specified&gt;</i></span>
                    </p>
                    <p><span><b>Email:</b></span><span th:text="${order.customerEmail}">User email</span></p>
                </td>
            </tr>
            <tr>
                <td th:text="'Total quantity: ' + ${order.totalQuantity} +
                     ' | Total amount: $' + ${order.totalAmount}">Total
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>