<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <title>Profile</title>
</head>
<body>
<header th:include="fragments/header::header"></header>
<div class="container text-center">
    <h1 style="margin-top: 2%">Your profile</h1>
    <form style="margin-top: 3%" action="#" autocomplete="off" th:action="@{/customer/profile/change/{uuid}(uuid=${user.uuid})}"
          th:object="${userUpdateDTO}"
          method="post">
        <table style="table-layout: fixed; width: 25%; margin: auto" class="table table-borderless text-start">
            <tbody>
            <tr>
                <td>
                    <b>
                        First name:
                    </b>
                </td>
                <td>
                    <input name="firstName" type="text" th:value="${user.firstName}"
                           title="The first name must contain only Latin letters and be between 1 and 20 characters long!"/>
                </td>
                <td style="color: red; white-space: pre" th:if="${#fields.hasErrors('firstName')}"
                    th:errors="*{firstName}">First name errors errors
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        Last name:
                    </b>
                </td>
                <td>
                    <input name="lastName" th:value="${user.lastName}" type="text"
                           title="The last name must contain only Latin letters and be between 1 and 40 characters long!"/>
                </td>
                <td style="color: red; white-space: pre" th:if="${#fields.hasErrors('lastName')}"
                    th:errors="*{lastName}">Last name errors
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        Address:
                    </b>
                </td>
                <td>
                    <input name="address" th:value="${user.address}" type="text" max="40"
                           title="The address must be not more 40 characters long!"/>
                    <span th:if="${user.address == null or user.address.isBlank()}"><i>&lt;not specified&gt;</i></span>
                </td>
                <td style="color: red; white-space: pre" th:if="${#fields.hasErrors('address')}"
                    th:errors="*{address}">Address errors
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        Phone number:
                    </b>
                </td>
                <td>
                    <input name="phoneNumber" th:value="${user.phoneNumber}" type="tel"
                           title="The phone number must match the following patterns: +375(XX)XXX-XX-XX or +375XXXXXXXXX"/>
                    <span th:if="${user.phoneNumber == null or user.phoneNumber.isBlank()}"><i>&lt;not specified&gt;</i></span>
                </td>
                <td style="color: red; white-space: pre" th:if="${#fields.hasErrors('phoneNumber')}"
                    th:errors="*{phoneNumber}">Phone number errors
                </td>
            </tbody>
        </table>
        <div>
            <b>Change the password</b><br>
            <input name="password" type="password"
                   title="It must contain at least one digit (0-9), at least one lowercase Latin character (a-z),
                          at least one uppercase Latin character (A-Z), at least one special character like ! @ # & ( ).
                          And must be between 8 and 20 characters long."
                   placeholder="Enter a new password"/><br>
            <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}">Password errors</p>
            <p>
                <input name="reEnteredPassword" type="password" placeholder="Re-enter the password"/>
            </p>

            <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('reEnteredPassword')}"
               th:errors="*{reEnteredPassword}">Re-Entered password errors</p>
        </div>
        <input class="btn btn-warning" type="submit" value="Save"/>
        <span> </span>
        <input class="btn btn-warning" type="reset" value="Reset"/><br>
    </form>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>