<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<form action="#" th:action="@{/users/user/change/{uuid}(uuid=${user.uuid})}" th:object="${userUpdateDTO}" method="post">
    <table>
        <tbody>
        <tr>
            <td>
                <p th:text="${user.firstName}"></p>
                <input name="firstName" type="text" th:value="${user.firstName}" pattern="^[A-Za-z]{1,20}+$"
                       title="The first name must contain only Latin letters
                        and be between 1 and 20 characters long!"/><br>
                <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('firstName')}"
                   th:errors="*{firstName}">First name errors errors</p>
                <p th:text="${user.lastName}"></p>
                <input name="lastName" th:value="${user.lastName}" type="text" pattern="^[A-Za-z]{1,40}+$"
                       title="The last name must contain only Latin letters
                        and be between 1 and 40 characters long!"/><br>
                <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('lastName')}"
                   th:errors="*{lastName}">Last name errors</p>
                <p th:text="${user.address}"></p>
                <input name="address" th:value="${user.address}" type="text" minlength="1" maxlength="40"
                       title="The address must be between 10 and 40 characters long!"/><br>
                <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
                    Address errors</p>
                <p th:text="${user.phoneNumber}"></p>
                <input name="phoneNumber" th:value="${user.phoneNumber}" type="text"
                       pattern="^+375((25|29|33|44))[0-9]{3}-[0-9]{2}-[0-9]{2}$"
                       title="The phone number must match the following pattern:
                        +375(XX)-XXX-XX-XX or +375XXXXXXXXX"/><br>
                <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('phoneNumber')}"
                   th:errors="*{phoneNumber}">Phone number errors
                <p>
                    <label for="password">Change the password</label><br>
                    <input name="password" id="password" type="password"
                           title="It must contain at least one digit (0-9),
                            at least one lowercase Latin character (a-z),
                            at least one uppercase Latin character (A-Z),
                             at least one special character like ! @ # & ( ).
                              And must be between 8 and 20 characters long."
                           placeholder="Enter a new password"/>
                </p>
                <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}">Password errors</p>
                <p>
                    <input name="reEnteredPassword" type="password" placeholder="Re-enter the password"/>
                </p>
                <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('reEnteredPassword')}"
                   th:errors="*{reEnteredPassword}">Re-Entered password errors</p>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Save the Changes"/><input type="reset" value="Reset"/>
</form>
</body>
</html>