<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
<h1 align="center">App Reviews</h1>
<div align="center" th:if="${reviews.isEmpty()}">
    <h2>There are no reviews here yet</h2>
</div>
<div align="center" th:unless="${reviews.isEmpty()}">
    <table border="1">
        <thead>
        <tr>
            <th width="15%">Author</th>
            <th width="70%">Content</th>
            <th width="15%">Addition date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review : ${reviews}">
            <td th:text="${review.userLastName + ' ' + review.userFirstName + ' ' + review.userPatronymic}">Author</td>
            <td th:text="${review.content}">Content</td>
            <td th:text="${review.additionDate}">Addition date</td>
        </tr>
        </tbody>
    </table>
</div>
<footer>
    <div align="center" th:if="${countOfPages>1}">
        <span th:each="i : ${#numbers.sequence(1,countOfPages)}">
            <a th:href="@{/reviews/{id}/10(id=${i})}" th:text="'|' + ${i} + '|'"></a>
        </span>
    </div>
</footer>
</body>
</html>