<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
<h1 align="center">Site Reviews</h1>
<div align="center" th:if="${page.getObjects.isEmpty()}">
    <h2>There are no reviews here yet</h2>
</div>
<div align="center" th:unless="${page.getObjects.isEmpty()}">
    <table border="1">
        <thead>
        <tr>
            <th width="15%">Author</th>
            <th width="70%">Content</th>
            <th width="15%">Addition date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review : ${page.getObjects}">
            <td th:text="${review.userLastName + ' ' + review.userFirstName + ' ' + review.userPatronymic}">Author</td>
            <td th:text="${review.content}">Content</td>
            <td th:text="${review.additionDate}">Addition date</td>
        </tr>
        </tbody>
    </table>
</div>
<footer>
    <div align="center" th:if="${page.countOfPages > 1}">
        <span th:each="i : ${#numbers.sequence(1,page.countOfPages)}">
            <span th:unless="${page.pageNumber == i}">
            <a th:href="@{'/reviews?pageNumber=' + ${i}}" th:text="'|' + ${i} + '|'"></a>
            </span>
            <span th:if="${page.pageNumber == i}" th:text="${i}"></span>
        </span>
    </div>
    <h3 align="center" class="text-center"><a th:href="@{/}">Go back to the main page</a></h3>
</footer>
</body>
</html>