<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div align="center">
    <form action=# th:action="@{/admin/users/delete/{sourcePageNumber}(sourcePageNumber=${page.pageNumber})}" method="post"
          id="deletingForm"></form>
    <table border="2">
        <thead>
        <tr>
            <th>Last name</th>
            <th>First name</th>
            <th>Patronymic</th>
            <th>Email</th>
            <th>Change the password</th>
            <th>Role</th>
            <th>Change role</th>
            <th>Check the box for deletion</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${page.objects}">
            <td th:text="${user.lastName}">Last name</td>
            <td th:text="${user.firstName}">First name</td>
            <td th:text="${user.patronymic}">Patronymic</td>
            <td th:text="${user.email}">Email</td>
            <td>
                <form th:unless="${user.isDeleted}" action=#
                      th:action="@{/admin/users/change-password/{uuid}/{sourcePageNumber}(sourcePageNumber=${page.pageNumber}, uuid = ${user.uuid})}"
                      method="post">
                    <button type="submit">Generate a new password</button>
                </form>
            </td>
            <td th:text="${user.role.description}">Role</td>
            <td align="center" th:unless="${email.equals(user.email)}">
                <form th:unless="${user.isDeleted}" action=#
                      th:action="@{/admin/users/change-role/{uuid}/{sourcePageNumber}(sourcePageNumber=${page.pageNumber}, uuid = ${user.uuid})}"
                      method="post">
                    <select name="roleName">
                        <option th:each="role : ${roles}" th:value="${role.name()}"
                                th:unless="${user.role} == ${role}" th:text="${role.description}">Role
                        </option>
                    </select><br>
                    <input type="submit" value="Change role"/>
                </form>
            </td>
            <td align="center">
                <span th:unless="${email.equals(user.email) or user.isDeleted}">
                    <input type="checkbox" name="uuids" th:value="${user.uuid}" form="deletingForm"/>
                </span>
                <span style="color: red" th:if="${user.isDeleted}">Deleted</span>
            </td>
        </tr>
        </tbody>
    </table>
    <p th:if="${page.objects.size() > 1}">
        <input type="submit" form="deletingForm" value="Delete checked users"/>
    </p>
</div>
</body>
<footer>
    <div align="center" th:if="${page.countOfPages>1}">
        <span style="white-space: nowrap;" th:each="i : ${#numbers.sequence(1,page.countOfPages)}">
            <span th:unless="${page.pageNumber == i}">
            <a th:href="@{'/users?pageNumber=' + ${i}}" th:text="'|' + ${i} + '|'"></a>
            </span>
            <span th:if="${page.pageNumber == i}" th:text="${i}"></span>
        </span>
    </div>
    <h3 align="center" class="text-center"><a th:href="@{/admin/users/add}">Add new user</a></h3>
    <h3 align="center" class="text-center"><a th:href="@{/main}">Go back to the main page</a></h3>
</footer>
</html>