<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Add new user</title>
</head>
<body>
<header th:include="fragments/header::header"></header>
<div class="container text-center">
    <h1>New user addition</h1>
    <form action="#" th:action="@{/admin/users/add}" th:object="${userDTO}" method="post">
        <label for="last_name">Last name</label><br>
        <input th:field="*{lastName}" id="last_name" type="text" pattern="^[A-Za-z]{1,40}+$"
               title="The last name must contain only Latin letters and be between 1 and 40 characters long!" required
               autofocus/><br>
        <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last
            name error</p>
        <label for="first_name">First name</label><br>
        <input th:field="*{firstName}" id="first_name" type="text" pattern="^[A-Za-z]{1,20}+$"
               title="The first name must contain only Latin letters and be between 1 and 20 characters long!"
               required/><br>
        <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First
            name error</p>
        <label for="patronymic">Patronymic</label><br>
        <input th:field="*{patronymic}" id="patronymic" type="text" pattern="^[A-Za-z]+$"
               title="The patronymic must contain only Latin letters and be between 1 and 40 characters long!"
               required/><br>
        <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">
            Patronymic error</p>
        <label for="roles">Role</label><br>
        <select class="form-select-sm" th:field="*{role}" id="roles">
            <option th:each="role : ${roles}" th:value="${role}"
                    th:text="${role.description}">Role
            </option>
        </select><br>
        <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role error</p>
        <label for="email">Email</label><br>
        <input th:field="*{email}" id="email" type="email" required/><br>
        <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
            errors</p>
        <label for="password">Password:</label><br>
        <input th:field="*{password}" id="password" type="password"
               title="It must contain at least one digit (0-9),
                at least one lowercase Latin character (a-z),
                 at least one uppercase Latin character (A-Z),
                 at least one special character like ! @ # & ( ).
                  And must be between 8 and 20 characters long." required/>
        <p style="color: red; white-space: pre" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
            Password errors</p><br>
        <input class="btn btn-primary" type="submit" value="Add"><span> </span><input class="btn btn-primary" type="reset" value="Reset">
    </form>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>