<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <title>Orders</title>
</head>
<body>
<header th:include="fragments/header::header"></header>
<div class="container text-center">
    <h1 style="margin-top: 2%">Your orders</h1>
    <div style="margin-top: 3%" th:if="${page.objects.isEmpty()}">
        <h2>You don't have any orders yet</h2>
    </div>
    <div style="margin-top: 3%" th:unless="${page.objects.isEmpty()}" th:each="order : ${page.objects}">
        <div style="font-size: large">
            <span>Order number: </span>
            <b th:text="${order.orderNumber}"></b>
            <span> || Date: </span>
            <i th:text="${order.orderDateTime}"></i>
            <span> || Status: </span>
            <b th:text="${order.status.description}"></b>
        </div>
        <table class="table table-bordered" style="table-layout: fixed; width: 40%; margin: auto">
            <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderDetail : ${order.orderDetails}">

                <td><a th:href="@{/items/{uuid}/1(uuid = ${orderDetail.itemUuid})}"
                       th:text="${orderDetail.itemName}">Item name</a>
                </td>
                <td th:text="'$' + ${orderDetail.price}"></td>
                <td th:text="${orderDetail.quantity}"></td>
                <td th:text="'$' + ${orderDetail.amount}"></td>
            </tr>
            </tbody>
        </table>
        <span>Total quantity: </span>
        <b th:text="${order.totalQuantity}"></b>
        <span>Total amount: </span>
        <b th:text="'$' + ${order.totalAmount}"></b>
        <p></p>
        <form th:if="${order.status.name().equals('NEW') or order.status.name().equals('IN_PROGRESS')}" action=#
              th:action="@{/customer/orders/reject/{orderUuid}(orderUuid = ${order.uuid})}"
              method="post">
            <button class="btn btn-danger" type="submit">Reject the order</button>
        </form><br>
        <p>*****</p>
    </div>
    <footer>
        <div align="center" th:if="${page.countOfPages > 1}">
        <span th:each="i : ${#numbers.sequence(1,page.countOfPages)}">
            <span th:unless="${page.pageNumber == i}">
            <a th:href="@{'/customer/orders?pageNumber=' + ${i}}" th:text="'|' + ${i} + '|'"></a>
            </span>
            <span th:if="${page.pageNumber == i}" th:text="${i}"></span>
        </span>
        </div>
    </footer>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>