<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <title>401</title>
</head>
<body>
<header th:include="fragments/header::header"></header>
    <div style="color: red; margin-top: 10%" class="text-center">
        <h1>Error 401</h1>
        <h1>To access this resource, you must pass authorization!</h1>
    </div>
<script th:src="@{js/bootstrap.bundle.js}"></script>
</body>
</html>