<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div th:fragment="header">
    <div class="bg-warning text-wrap text-center">
        <div style="font-size: xx-large">
            <div class="bg-warning" sec:authorize="isAnonymous()"><a th:href="@{/login}">Log in</a></div>
            <div sec:authorize="isAuthenticated()">
                <div class="text-wrap text-start" style="font-size: 0.5em">
                    <b style="color:blue" sec:authentication="name"></b> ||
                    <a style="color: darkgreen" th:href="@{/logout}"><b>Sign out</b></a>
                </div>
                <span sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/admin/users}">Users</a>
                    <a th:href="@{/admin/reviews}">Reviews</a>
                </span>
                <span sec:authorize="hasAnyAuthority('CUSTOMER_USER', 'SALE_USER')">
                    <a th:href="@{/articles}">News</a>
                    <a th:href="@{/items}">Shop</a>
                    <span sec:authorize="hasAnyAuthority('SALE_USER')">
                        <a th:href="@{/seller/orders}">Orders</a>
                    </span>
                    <span sec:authorize="hasAuthority('CUSTOMER_USER')">
                        <a th:href="@{/customer/profile}">Profile</a>
                        <a th:href="@{/customer/cart}">Cart</a>
                        <a th:href="@{/customer/orders}">Orders</a>
                    </span>
                    <a th:href="@{/reviews}">Reviews</a>
                </span>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>